

    #mainbarr
    {
        
        background-color: rgb(27, 14, 14);
        z-index: 999;
        border: 3px solid grey;
        padding-top: 0;
        position: fixed;
        
    }

    .btn
    {
        background-color: grey;
        margin: auto;
        border: 2px solid white black;
    }


    ol.carousel-indicators li.active {
        background:grey;
        border:3px solid red;
        font-size: 40px;
    
      }
      ol.carousel-indicators li {
        background:grey;
        border:3px solid black;
        font-size:30px;
    
      }


    .carousel-inner > .item > img {
        width:640px;
        height:360px;
        margin: 0 auto;
      }
      
      
    h3,h1,h2,p
    {
        color: white;
        
    }
    button
    {
        color:red;
    }
   

    a{
        color: white;
    }
   #top2 > p
    {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        
    }


    .rowsetting footer
    {
        margin-top: 40px;
    }



body > #parentgrid > #middleleft
  {
      
      background-size: auto auto;

  }
  body > #parentgrid > #middleright
  {
      background-color:black;
      text-decoration: none;
     

  }
  
  body > #parentgrid > #middleright > #mr1
  {
      
      background-image: url(../img/space1.jpg);
      background-size: 400px 400px;
     
  }
  body > #parentgrid > #middleright > #mr2
  {
      
      background-image: url("../img/space1.jpg");
      background-size: 400px 400px;
      
  }
  body > #parentgrid > #middleright > #mr3
  {
      
      background-image: url("../img/space1.jpg");
  }
  
  body > #top2 > h1,h2,h3

{

    font-family: 'Akronim';font-size: 22px;
}  body > #top1 > h3
  {
      color: white;
  }

   body > #top2
    {   
        
        background-image: url("../img/space1.jpg");
   
        background-size: 100% 100%;
        background-repeat: no-repeat;
        
        font: 1em sans-serif;
        
       
    }
  
  

  

body > #top2 >h1
{
    color:whitesmoke;
    text-shadow: 3px gold;
    text-align: center;
}

 h1
 {
     color: white;
     font-family: 'Akronim';font-size: 22px;
     
 } 

  body > #top1 > #hello>a
  {

      text-decoration: none;
      font-family: 'Times New Roman', Times, serif;
      font-size: 20px;
      color:lightgrey;
  }
  body > #top1 > .navbar
  {
      float:right;
      border: 2px solid white;
      margin-bottom: 10px;
      position: fixed;

  }

  body > #top1 > .navbar > a:hover
  {
      color: red;
      font-family: 'Times New Roman', Times, serif;
      font-size: 30px;
  }

  body > footer{


      height:200px;
      width:100%;
      
        
  }
  body >footer >#f1
  { background-image: url("../img/space1.jpg");

  }
  body >footer >#f2
  {
    background-image: url("../img/space1.jpg");


  }
  body >footer >#f3
  {
    background-image: url("../img/space1.jpg");

  }
  body >footer >#f4
  {
    background-image: url("../img/space1.jpg");
    background-size: 400px 200px;
  }

  #mainbarr
  {
      transform: translate(-70px,-55px);
  }

    